.idea
__pycache__
test.py
test.txt
utils/datas*
utils/calculateur.py
pitstoploss.png
.DS_Store

# Ignore Python Virtual Environment
venv/

# Ignore data files
data/

# Ignore Documents
Documents/

# Ignore PCA plots
analysis/pca-tsne-plots

data/processed/packets_2025-01-26 16:43:19.450016.csv