.idea
__pycache__
test.py
test.txt
utils/datas*
utils/calculateur.py
pitstoploss.png

# Ignore Python Virtual Environment
venv/

# Ignore data files
data/

# Ignore plot files
analysis/pca-tsne-plots/

# Ignore Documents
Documents/